<p>list-tournois works!</p>
 
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Nom</th>
      <th>Lieu</th>
      <th>Pays</th>
      <th>Surface</th>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th>...</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tournoi of Tournois">
            <td style="font-weight:bold"> {{ tournoi.nom }} </td>
            <td> {{ tournoi.lieu }} </td>
            <td>
              <img *ngIf="tournoi.pays==='Australie'" src="../../../assets/flag_australia.svg"  width="25" height="25" alt="Drapeau Australie"> 
              <img *ngIf="tournoi.pays==='France'" src="../../../assets/flag_fr.svg"  width="25" height="25" alt="Drapeau France"> 
              <img *ngIf="tournoi.pays==='Royaume-Uni'" src="../../../assets/flag_uk.svg"  width="25" height="25" alt="Drapeau UK"> 
              <img *ngIf="tournoi.pays==='États-Unis'" src="../../../assets/flag_us.svg"  width="25" height="25" alt="Drapeau USA"> 
              {{ tournoi.pays}} </td>
            <td> {{ tournoi.surface}} </td>
            <td> {{ tournoi.date_debut }} </td>
            <td> {{ tournoi.date_fin }} </td>
            <th><button type="button" class="btn btn-dark" (click)="onDetail(tournoi)" route>Détails...</button></th>
    </tr>
    </tbody>
</table>
