
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="/tournois">
      <img src="../assets/emoji_events-24px.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Tournois
    </a>
    <a class="navbar-brand" routerLink="/matchs">
      <img src="../assets/sports_baseball-24px.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Matchs
    </a>
    <a class="navbar-brand" routerLink="/joueurs">
      <img src="../assets/people_alt-24px.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Joueurs
    </a>
    <a class="" routerLink="/equipes">
      Equipes
    </a>
</nav>


<div class="content" role="main">


</div>



<router-outlet></router-outlet>